.Home_container {
    display: flex;
   }

.filter_Area {
  
}

img {
    max-width: 100%;
}

.product_card {
 }

.product_card .image {
  
}

.card_info {
     
}

.button1 {
    margin-right: 1rem;
}